 <%= $game.player_not_playing.name %> attacked <%=$game.turn %>

<% if $game.player_lost?%>
  <form action='/battle_over'>
    <input type='submit' value='Next turn'>
  </form>
<% else %>
  <form action='/play'>
    <input type='submit' value='Next turn'>
  </form>
<% end %>
